# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Віртуальні оточення
venv/
.venv/
env/

# PyCharm
.idea/

# Бази даних SQLite
*.db
*.sqlite3

# Змінні середовища
.env

# Windows
Thumbs.db
desktop.ini
